/*@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Edu+SA+Hand:wght@400..700&display=swap');*/

* {
    margin: 0;
    padding: 0;
    /* font-family: "Alumni Sans SC", sans-serif;*/
}

.container {
    border: 5px solid black;
}

.flex-item {
    color: white;
    font-size: 18px;
    padding: 16px;
    text-align: center;
}

.item-1 {
    background-color: aquamarine;
}

.item-2 {
    background-color: rebeccapurple;
}

.item-3 {
    background-color: red;
}

.item-4 {
    background-color: burlywood;
}

.item-5 {
    background-color: blueviolet;
}

.item-6 {
    background-color: violet;
}

.item-7 {
    background-color: lawngreen;
}

.item-8 {
    background-color: olivedrab;
}

.item-9 {
    background-color: orange;
}

.container {
    display: flex;
<<<<<<< HEAD
    /*  display: inline-flex;
=======
  /*  display: inline-flex;
>>>>>>> 71f8287587bf7faa142af96952658cf3af696d56
     flex-direction:row;
     flex-direction: row-reverse;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap:wrap-reverse;
    flex-flow: row nowrap;
    flex-flow: row wrap;
     flex-flow: row wrap-reverse;
     flex-flow: column nowrap;
      flex-flow: column wrap;
      flex-flow: column wrap-reverse;
      column-gap: 20px;
     row-gap: 20px;
      gap:40px 20px;
      gap:60px;
      justify-content:flex-start;
        justify-content:flex-end;
        justify-content:center;
         justify-content:space-around;
         justify-content:space-evenly;
          justify-content:space-between;
          align-items: flex-start;
           align-items: flex-end;
           align-items:center; 
            align-items:baseline;
             align-content:stretch;
             align-content:flex-start;
              align-content:flex-end;
              align-content: space-between;
               align-content:space-around;
              align-content:center;*/
<<<<<<< HEAD
    height: 600px;
    align-items: stretch;
    flex-direction: column;
=======
               height: 600px;
               align-items:stretch;
               flex-direction: column;
>>>>>>> 71f8287587bf7faa142af96952658cf3af696d56

}

.item-1 {
    align-self: auto;
}

.item-2 {
    align-self: flex-start;
}

.item-3 {
    align-self: flex-end;
}

.item-4 {
    align-self: center;
}

.item-5 {
    align-self: stretch;
}

/*
.item-1{
    font-size: 45px;
    align-items:stretch;
           align-items: flex-start;
           align-items: flex-end;
           align-items:center; 
            align-items:baseline;
    
}*/
/*.item-1{order:0;}*/
/*.item-2{order: 1;}
.item-3{order: 2;}
.item-4{order: 5;}
.item-1{order: 4;}
.item-5{order: 3;}*/
/*
.item-3{
    flex-grow: 1;
}
.item-4{
    flex-grow: 1;
}*/
/*.flex-item{
    flex-grow: 1;
}*/

/*.flex-item{
    flex-shrink:0;
<<<<<<< HEAD
   
=======
    
>>>>>>> 71f8287587bf7faa142af96952658cf3af696d56
    width: 100px;
    flex-basis: auto;
}*/
/*.item-4{
    flex-shrink: 3;
}*/
/*.item-1{
    flex-basis:400px;
    flex-grow: 1;
}*/
/*.item-1{
    flex:0 1 auto;
    flex:0 1 200px;
     flex:0 0 200px;
    }*/