* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253, 231, 203);
}

.container {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.header {
    display: inline-block;
    width: 250px;
    height: 150px;
    margin-top: 1px;
}

h6 {
    margin-top: 8px;
    ;
    text-align: center;
    font-size: smaller;

}

h3 {
    margin-top: 3px;
    text-align: center;
}

.box {
    display: inline-block;
    border-radius: 3%;

    width: 250px;
    height: 360px;
    background-color: rgb(248, 249, 248);
    box-shadow: 0.2px 0.2px 0.3px 0.3px;




}

img {
    border-radius: 3%;
}

.content {
    margin-top: 8px;
    font-size: 11px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

    display: inline-block;
}

.box1 {
    display: inline-block;
    border-radius: 3%;
    width: 250px;
    height: 360px;
    background-color: rgb(248, 249, 248);
    box-shadow: 0.2px 0.2px 0.3px 0.3px;

}

.bottom1 {
    display: flex;
    margin-top: 4.2%;
    font-size: small;
    border-radius: 8px;
    padding-bottom: 2px;

}

.footer1 {
    padding-bottom: 5px;
    display: inline-flex;
    width: 83px;
    border-right: 1px solid rgb(116, 5, 79);
    margin-top: 12px;
    justify-content: center;


    border-radius: 2px;


}

numbers {
    font-size: large;
}

.footer2 {
    display: inline-flex;
    width: 83px;
    padding-top: 3px;
    justify-content: center;
    border-right: 1px solid rgb(116, 5, 79);

    margin-top: 12px;

}

.footer3 {
    display: inline-flex;
    padding-top: 3px;
    width: 84px;
    margin-top: 12px;
    justify-content: center;

    border-radius: 2px;
}

.foo1 {
    width: 25px;
    display: inline-flex;
    height: 42px;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 8px;
}

.foo2 {
    margin-top: 10px;
    width: 50px;
    display: inline-flex;
    height: 30px;
    text-align: center;
}

.foo3 {
    margin-top: 10px;
    width: 50px;
    display: inline-flex;
    height: 30px;

    text-align: center;
}

h5 {
    color: rgb(253, 243, 243);

}

.box2 {
    display: inline-block;
    border-radius: 3%;
    width: 250px;
    height: 360px;
    background-color: rgb(248, 249, 248);
    box-shadow: 0.2px 0.2px 0.3px 0.3px;

}